body {
    font-family: roboto;
}

core-header-panel /deep/ #dropShadow {
    box-shadow: none !important;
}

core-header-panel[drawer] /deep/ #mainContainer {
    background: white;
}

paper-spinner /deep/ .circle {
    border-color: black;
}

button {
    background: transparent;
    border: none;
    outline: none;
    padding: .5em;
    border-radius: 50%;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

    button:hover {
        background: rgba(33, 150, 243, 0.50);
    }

header {
    padding: .7em 2em;
    border-bottom: 1px solid;
}

    header h1 {
        margin: 0 0 0 1em;
        font-weight: 400;
    }

    header p {
        margin: 0 1em;
    }

    header core-icon {
        padding: .5em;
        -moz-transition: .3s;
        -o-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
        border-radius: 50%;
    }

        header core-icon /deep/ svg {
            width: 24px;
            height: 24px;
            margin: .5em;
        }

        header core-icon:hover {
            background: rgba(33, 150, 243, 0.50);
        }

        header core-icon[icon=account-circle] {
            background: transparent !important;
        }

nav {
    margin-top: 2em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    nav section.selected {
        background: #2196F3;
        color: white;
    }

        nav section.selected button core-icon {
            color: white;
        }

        nav section.selected button:hover {
            background-color: rgba(255,255,255,.25);
        }

    nav section.drag {
        background: #757575;
        color: white;
        position: relative;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }

        nav section.drag button core-icon {
            color: white;
        }

    nav section {
        border-bottom: 1px solid black;
        padding: 0 1em;
        -moz-transition: .3s;
        -o-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
        box-shadow: 0 0 0 0;
    }

        nav section p {
            margin: 0;
            padding: 1em;
        }

        nav section:nth-child(4), nav section:nth-child(3) {
            border-top: 1px solid black;
        }

section[data-pagename=view-unloaded] {
    margin-top: 5em;
}

section[data-pagename] h2,
section[data-pagename] label,
section[data-pagename] section,
section[data-pagename] input {
    width: 270px;
}

section[data-pagename] {
    margin-top: 5em;
    min-height: 60vh;
}

    section[data-pagename] input {
        border: none;
        border-bottom: 1px solid;
        margin-bottom: 1em;
        padding: 1em 0;
        outline: none;
    }

    section[data-pagename] .status {
        height: 32px;
    }

#add {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

    #add > button {
        font-size: 1em;
        background: #2196F3;
        line-height: 0.6;
        padding: 1em;
        color: white;
        align-self: flex-end;
    }

    #add article button:hover {
        background: transparent !important;
        margin-right: .5em;
    }

    #add article core-icon {
        width: 1.5em;
        height: 1.5em;
        margin-left: .5em;
    }
